* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #c176d2;
 

}
.nav--items {
 
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  /* background: #A0C5E8; */
  padding: 10px;
  font-size: 1.1rem;
}
